.Homecart{
    width: 250px;
    height: 350px;
    display: flex;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    border:  1px solid lightgray;
    border-radius: 10px;
    position: relative;
}
.dis{
    position: absolute;
    left: 10px;
    top: 10px;
}
.Homecart1{
    width: 100%;
    height: 80%;
    display: flex;
}
.Homecart1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:768px){
    .Homecart{
        width: 100%;
        height: 100%;
        display: flex;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 10px 20px;
        border:  1px solid lightgray;
        border-radius: 10px;
        position: relative;
    }
    .dis{
        position: absolute;
        left: 10px;
        top: 10px;
        width: 40px;
    }
    .Homecart1{
        width: 100%;
        height: 70%;
        display: flex;
    }
    .Homecart1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}